body {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    margin: 0;
}

header {
    background-color: #262947;
    color: white;
    padding: 10px;
    width: 100%;
}

h2 {
    width: 700px;
    margin: 20px auto;
}

main {
    width: 50%;
    margin: 20px auto;
}

.signs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panels-container {
    display: flex;
    justify-content: space-around;
}

span {
    border-bottom: solid 3px #10D18C;
}

i:hover {
    cursor: pointer;
}

.green {
    color: #10D18C;
}